.sign-in-modal {
    z-index: 1303 !important;

    .sign-in-modal-box {
        position: relative;
        top: 0;
        height: 636px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;

        &.sign-up {
            height: 100%;
            justify-content: space-between;
            overflow-y: scroll;

            .inputs-container {
                margin-top: 24px;
            }
        }

        .close-icon {
            cursor: pointer;
            height: 20px;
            width: 20px;
            align-self: flex-start;
            margin: 13px 0 13px 22px;
        }

        h1 {
            font-weight: 200;
            font-size: 18px;
            letter-spacing: 2.67px;
            margin-top: 40px;
        }

        p {
            margin-top: 14px;
            font-weight: 200;
            font-size: 16px;
            letter-spacing: 1.97px;
        }

        .inputs-container {
            display: flex;
            flex-direction: column;
            gap: 40px;
            margin-top: 40px;

            input {
                width: 327px;
                padding-top: 8px;
                font-weight: 200;
                font-size: 16px;
                letter-spacing: 1.97px;
            }

            .MuiFormLabel-root {
                font-size: 14px;
                font-weight: 200;
                letter-spacing: 1.97px;

                &:not(.Mui-error) {
                    color: black;
                }

                &.MuiFormLabel-filled,
                &.Mui-focused {
                    font-size: 12px;

                    &:not(.Mui-error) {
                        color: rgba(0, 0, 0, 0.4);
                    }
                }
            }

            .MuiInput-root::after {
                border-bottom: 0.5px solid black;
            }

            .MuiFormHelperText-root {
                margin: 0;
                font-size: 10px;
                text-transform: capitalize;
            }
        }

        .login-btn {
            margin-top: 40px;
            width: 206px;
            height: 48px;
            min-height: 48px;
            color: #fff;
            border: none;
            font-weight: 400;
            font-size: 18px;
            letter-spacing: 2.67px;
            background-color: black;

            &.disabled {
                background-color: $clr-primary-gray;
                cursor: not-allowed;
            }
        }

        .forget-password {
            margin-top: 16px;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 1.97px;
        }

        .or-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
            gap: 12px;
            width: 292px;
            height: 18px;

            .line {
                flex: 1;
                border: 0.5px solid $clr-primary-gray;
            }

            .or-text {
                margin: 0;
                color: $clr-primary-gray;
                font-weight: 400;
                font-size: 14px;
                letter-spacing: 1.97px;
            }
        }

        .signup-btn {
            margin-top: 40px;
            width: 206px;
            height: 48px;
            min-height: 48px;
            border: 1px solid black;
            background-color: #fff;
            font-weight: 400;
            font-size: 18px;
            letter-spacing: 2.67px;
        }
    }
}

.logout-modal {

    .logout-modal-box {
        position: absolute;
        background-color: #fff;
        right: 0;
        padding: 0.8rem;
        width: fit-content;

        .logout-btn {
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            display: flex;
            border: none;
            background-color: transparent;
            padding: 0;

            h6 {
                font-weight: 400;
                font-size: 1rem;
                letter-spacing: 1.97px;
            }
        }
    }
}

@include for-normal-layout {

    .sign-in-modal {

        .sign-in-modal-box {
            width: 573px;
            height: 582px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            padding: 40px 0;

            &.sign-up {
                height: 780px;
            }

            .close-icon {
                top: -28px;
                margin: 0;
                position: absolute;
            }

            h1 {
                margin: 0;
                font-size: 24px;
            }

            p {
                font-size: 18px;
            }

            .inputs-container {
                margin-top: 48px;
                gap: 24px;

                input {
                    width: 360px;
                }

                .MuiFormLabel-root {
                    font-size: 16px;

                    &.MuiFormLabel-filled,
                    &.Mui-focused {
                        font-size: 14px;

                        &:not(.Mui-error) {
                            color: $clr-primary-gray;
                        }
                    }
                }
            }
        }
    }
}