.home-page {

    .hero-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .hero-img {
            height: 273px;
            width: 100%;
        }

        .hero-box {
            position: absolute;
            text-align: center;
            background-color: white;
            opacity: 0.88;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 144px;
            gap: 18px;
            width: 335px;

            .hero-text {
                font-size: 24px;
                font-weight: 200;
            }

            .input-container {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                input {
                    border-radius: 4px;
                    width: 315px;
                    height: 30px;
                    border: 0.5px solid;
                    font-size: 12px;
                    padding: 0;
                    font-weight: 200;
                    letter-spacing: 1.29px;

                    &:focus::placeholder {
                        opacity: 0.2;
                        transition: opacity 0.3s;
                    }
                }

                .search-icon {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    left: 20px;
                }
            }
        }
    }

    .icon-meaning {
        background-color: $secondary-clr-offwhite;
        margin-top: 46px;
        padding: 24px 0;

        h1 {
            text-align: center;
            font-size: 18px;
            font-weight: 200;
            letter-spacing: 1.25px;
        }

        .icon-list {
            display: flex;
            align-items: center;
            gap: 56px;
            flex-direction: column;
            margin-top: 32px;
            justify-content: center;

            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 32px;

                img {
                    width: 46px;
                    height: 36px;
                }

                p {
                    font-size: 18px;
                    font-weight: 200;
                    letter-spacing: 1.97px;
                }
            }
        }
    }

    .chef-container {
        margin-top: 48px;

        h1 {
            font-size: 18px;
            font-weight: 200;
            letter-spacing: 1.25px;
        }

        .chef-info {
            display: flex;
            flex-direction: column;
            margin-top: 16px;
            gap: 24px;

            .chef-preview {
                position: relative;
                height: 262px;

                img {
                    width: 100%;
                    height: 100%;
                }

                .name-overlay {
                    position: absolute;
                    bottom: 0;
                    background-color: #fff;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0.8;
                    height: 51px;

                    h3 {
                        font-size: 18px;
                        letter-spacing: 2.67px;
                    }
                }
            }

            p {
                font-size: 18px;
                letter-spacing: 1.25px;
                line-height: 28px;
                font-weight: 200;
            }
        }
    }

    .about {
        background-color: $secondary-clr-offwhite;
        margin-top: 48px;
        padding-top: 24px;
        padding-bottom: 48px;

        .about-container {
            display: flex;
            flex-direction: column;
            gap: 32px;

            .about-logo {
                order: 1;
                width: 102px;
                height: 95px;
            }

            .text-container {
                display: flex;
                flex-direction: column;
                order: 2;
                gap: 16px;

                h1 {
                    order: 2;
                    margin-top: 32px;
                    font-size: 18px;
                    letter-spacing: 1.25px;
                    font-weight: 200;
                }

                .about-text {
                    order: 3;
                    letter-spacing: 2.14px;
                    line-height: 28px;
                    width: 84%;
                    font-weight: 200;
                    font-size: 18px;
                }

                .btns {
                    display: flex;
                    align-items: flex-start;
                    order: 1;
                    flex-direction: column;
                    gap: 16px;

                    button {
                        background-color: transparent;
                        border: 0.5px solid black;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 7px;
                        padding: 7px 12px;
                        width: 180px;
                        color: black;

                        p {
                            text-align: center;
                            font-size: 14px;
                            width: 110px;

                            span {
                                text-align: center;
                                font-size: 16px;
                            }
                        }
                    }

                    .app-store-btn {
                        order: 2;

                        .logo {
                            font-size: 31px;
                        }
                    }

                    .google-store-btn {
                        order: 1;

                        .logo {
                            width: 24px;
                            height: 27px;

                        }
                    }
                }
            }
        }
    }

    @include for-narrow-layout {
        .hero-container {

            .hero-img {
                height: 500px;
            }

            .hero-box {
                width: 375px;
                height: 200px;

                .hero-text {
                    font-size: 22px;
                    letter-spacing: 1.97px;
                }

                .input-container {

                    .search-icon {
                        left: 40px;
                    }
                }
            }
        }
    }

    @include for-normal-layout {
        .hero-container {

            .hero-img {
                height: 696px;
            }

            .hero-box {
                width: 600px;
                height: 221px;

                .hero-text {
                    font-size: 32px;
                    line-height: 40px;
                }

                .input-container {

                    input {
                        width: 505px;
                        height: 48px;
                        font-size: 24px;
                        padding-left: 35px;

                        &::placeholder {
                            color: black;
                        }
                    }

                    .search-icon {
                        left: 60px;
                        width: 25px;
                        height: 25px;
                    }

                }
            }
        }

        .icon-meaning {
            margin-top: 80px;
            padding: 39px 0;

            h1 {
                font-size: 30px;
                letter-spacing: 2.14px;
            }

            .icon-list {
                margin-top: 32px;
                gap: 90px;
                flex-direction: row;

                li {
                    img {
                        width: 56px;
                        height: 56px;
                    }

                    p {
                        font-size: 24px;
                    }
                }
            }
        }

        .chef-container {
            margin-top: 80px;

            h1 {
                text-align: center;
                font-size: 30px;
            }

            .chef-info {
                flex-direction: row;
                margin-top: 40px;
                gap: 64px;

                .chef-preview {
                    width: 350px;
                    height: 372px;

                    .name-overlay {
                        height: 78px;

                        h3 {
                            font-size: 40px;
                        }
                    }
                }

                p {
                    flex: 1;
                    font-size: 20px;
                    line-height: 30px;
                }
            }
        }

        .about {
            margin-top: 80px;
            padding: 0;

            .about-container {
                flex-direction: row;
                align-items: center;

                .about-logo {
                    order: 2;
                    width: 178px;
                    height: 166px;
                    margin-top: 0;
                }

                .text-container {
                    order: 1;

                    h1 {
                        margin-top: 40px;
                        font-size: 30px;
                        order: 1;
                        letter-spacing: 2.14px;
                    }

                    .about-text {
                        width: 60%;
                        order: 2;
                        line-height: 30px;
                        font-size: 20px;
                    }

                    .btns {
                        margin-bottom: 40px;
                        order: 3;
                        flex-direction: row;

                        .app-store-btn {
                            order: 1;
                        }

                        .google-store-btn {
                            order: 2;
                        }
                    }
                }
            }
        }
    }

    @include for-wide-layout {
        .hero-container {

            .hero-box {
                width: 776px;

                .input-container {

                    .search-icon {
                        left: 150px;
                    }
                }
            }

        }

        .chef-container {
            .chef-info {

                .chef-preview {
                    width: 478px;
                }

                p {
                    font-size: 24px;
                    line-height: 35px;
                }
            }
        }
    }
}