.app-footer {
    border-top: 0.2px solid $clr-primary-gray;
    height: 200px;

    .footer-container {
        display: flex;
        align-items: center;

        .links {
            display: flex;
            flex-direction: column;
            gap: 40px;

            li {
                font-size: 18px;
            }
        }
    }
}

@include for-narrow-layout {}

@include for-normal-layout {
    .app-footer {
        height: 85px;

        .footer-container {
            justify-content: center;

            .links {
                flex-direction: row;
            }
        }
    }
}

@include for-wide-layout {
    
}