.app-header {
    color: $clr-primary-black;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 2;

    .app-header-container {
        height: 64px;
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .logo-container {
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 27px;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;


        .nav-links {
            display: flex;
            gap: 32px;
            align-self: flex-end;

            .active {
                border-bottom: 1px solid $secondary-clr-gold;
            }
        }

        .actions {
            display: flex;
            align-items: center;
            gap: 24px;
            
            button {
                padding: 0;
                background-color: transparent;
                border: none;
            }
        }
    }
}

.bag-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 586px;
    width: 497px;
    box-shadow: 2px 4px 10px 0px #AFAFAF40;
    background-color: white;
    padding: 44px;

    .empty-bag {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        flex: 1;
        justify-content: center;

        h4 {
            text-align: center;
            letter-spacing: 1.97px;
        }
    }

    .order-btn {
        border: 1px solid black;
        padding: 5px 15px;
        letter-spacing: 2.67px;
    }
}