.dish-preview {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .dish-img {
        width: 100%;
        height: 152px;
    }

    .dish-info {
        background-color: $secondary-clr-cream;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
        height: 236px;
        gap: 13px;

        h3 {
            font-size: 18px;
            order: 1;
            letter-spacing: 2.67px;
            text-transform: capitalize;
        }

        p {
            order: 2;
            text-align: left;
            font-weight: 200;
            letter-spacing: 1.97px;
            line-height: 20px;
        }

        .dish-icon {
            order: 3;
            width: 30px;
            height: 23px;
        }
        
        .price-container {
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: auto;
            order: 4;
            font-weight: 400;
            
            .price {
                letter-spacing: 1.97px;
            }

            .line {
                display: none;
            }
        }
    }
}

@include for-narrow-layout {}

@include for-normal-layout {
    .dish-preview {

        .dish-img {
            height: 306px;
        }

        .dish-info {
            padding: 24px 0 8px 0;
            height: 348px;
            gap: 8px;
            align-items: center;

            h3 {
                font-size: 40px;
                text-align: center;
                width: 60%;
            }

            .dish-icon {
                order: 2;
                width: 40px;
                height: 31px;
            }

            p {
                font-size: 24px;
                text-align: center;
                line-height: 30px;
                width: 85%;
                order: 3;
            }

            .price-container {
                width: 80%;
                gap: 8px;
                font-weight: 200;

                .line {
                    flex: 1;
                    display: flex;
                    border: 0.5px solid $clr-primary-gray;
                }

                .price {
                    font-size: 24px;
                }
            }
        }
    }
}

@include for-wide-layout {}