.restaurant-list-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &.chef {
        overflow: hidden;
    }

    .restaurant-list-title {
        text-transform: uppercase;
        margin-top: 48px;
        font-weight: 200;
        font-size: 18px;
        
        &-chef {
            text-transform: uppercase;
            margin-top: 32px;
            font-size: 16px;
            font-weight: 200;
            letter-spacing: 1.25px;
        }
    }

    .restaurant-list {
        margin-top: 17px;
    }

    .all-link {
        margin-top: 20px;
        font-size: 16px;
        letter-spacing: 2px;
    }
}

@include for-narrow-layout {}

@include for-normal-layout {
    .restaurant-list-container {

        .restaurant-list-title {
            letter-spacing: 1.25px;
            margin-top: 80px;
            text-align: center;
            font-size: 30px;
            
            &-chef {
                margin-top: 45px;
                font-size: 30px;
            }
        }

        .restaurant-list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            margin-top: 40px;
            column-gap: 24px;
            row-gap: 40px;

            &.chef {
                grid-template-columns: repeat(auto-fit, minmax(150px, 231px));
                gap: 16px;
            }
        }

        .all-link {
            align-self: flex-end;
            margin-top: 40px;
            font-size: 24px;
            letter-spacing: 2px;
        }
    }
}

@include for-wide-layout {}