.restaurant-page-links {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;

    a {
        font-weight: 200;
        letter-spacing: 1.92px;
        text-align: center;
        font-size: 18px;

        &.active {
            font-weight: 400;
            border-bottom: 1.8px solid #DE9200E5;
        }
    }

    .swiper-slide.active {
        border-bottom: 1.8px solid #DE9200E5;
    }
}

@include for-normal-layout {
    .restaurant-page-links {
        gap: 40px;
        margin-top: 48px;
        justify-content: center;

        a {

            &.active {
                border: none;
            }
        }
    }
}