// Colors

//Primary
$clr-primary-black: #000000;
$clr-primary-gray: #979797;


//Secondary
$secondary-clr-cream: #F9F4EA;
$secondary-clr-gold: #E19D1A;
$secondary-clr-offwhite: #FAFAFA;

//Sizes
$mobile-padding: 20px;
$narrow-padding: 35px;
$normal-padding: 147px;

$break-mobile: 335px;
$break-narrow: 425px;
$break-normal: 769px;
$break-wide: 1200px;