// Colors

//Primary
$clr-primary-black: #000000;
$clr-primary-gray: #979797;


//Secondary
$secondary-clr-cream: #F9F4EA;
$secondary-clr-gold: #E19D1A;
$secondary-clr-offwhite: #FAFAFA;

//Sizes
$mobile-padding: 15px;
$narrow-padding: 35px;
$normal-padding: 147px;

$layoutPadding: 20px;

$break-narrow: 375px;
$break-normal: 1020px;
$break-wide: 1440px;